/**
 * Content
 */

body {
	background-color: #fff;
	color: #000;
}

a:active {
	opacity: 0.7;
}

.page a.active {
	font-style: italic;
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

sub,
sup {
	position: relative;
	vertical-align: baseline;
}

sub {
	top: 0.3em;
}

sup {
	top: -0.4em;
}

s {
	text-decoration: line-through;
}

img {
	border: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0 0 0 2em;
}

blockquote {
	margin: 0;
	padding: 0 0 0 2em;
}

hr {
	background: rgba(0, 0, 0, 0.18);
	border: 0;
	height: 1px;
	display: block;
}

.content img {
	float: none;
	margin-bottom: 0em;
}

[data-predefined-style="true"] bodycopy {
	font-size: 1.4rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.76);
	font-family: "Dolly Pro", Icons;
	font-style: normal;
	line-height: 1.3;
}

[data-predefined-style="true"] bodycopy p {
	margin-top: 40px;
}

[data-predefined-style="true"] bodycopy p.small {
	margin-top: auto;
}

[data-predefined-style="true"] bodycopy a {
	color: #ff4f00;
	padding-bottom: 0.1em;
	border-bottom: 0.0em solid rgba(127, 127, 127, 0.3);
	text-decoration: underline;
}

[data-predefined-style="true"] bodycopy a:hover {

}

bodycopy a.image-link,
bodycopy a.icon-link,
bodycopy a.image-link:hover,
bodycopy a.icon-link:hover {
	border-bottom: 0;
	padding-bottom: 0;
}

[data-predefined-style="true"] h1 {
	font-family: Sabon, Icons;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	margin: 0;
	font-size: 3.2rem;
	line-height: 1;
	color: rgba(0, 0, 0, 0.76);
	}

[data-predefined-style="true"] h1 a {
	color: rgb(0, 0, 0);
}

[data-predefined-style="true"] h1 b {
	color: #ff4f00;
}

[data-predefined-style="true"] h1 span {
	color: rgba(0, 0, 0, 0.79);
	margin-left: -15px;
}


[data-predefined-style="true"] h2 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: rgba(0, 0, 0, 0.76);
	font-size: 2.8rem;
	line-height: 1.3;
	}

[data-predefined-style="true"] h2 a {
	color: rgba(0, 0, 0, 0.85);
}

[data-predefined-style="true"] small {
	display: inline-block;
	font-size: 0.9rem;
	line-height: 1.4;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons;
	font-style: normal;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.76);
}

[data-predefined-style="true"] small a {
	color: #ff4f00;
	font-weight: bold;
}

/**
 * Breakpoints
 */

[data-css-preset] .page {
    background-color: initial /*!page_bgcolor*/;
}

.mobile .page,
[data-css-preset].mobile .page {
	position: relative;
	min-height: 10px;
	max-width: 100%;
	width: 100%;
	background-color: transparent /*!page_bgcolor*/;
}

[data-css-preset] .container {
	margin-left: 0 /*!content_left*/;
	margin-right: auto /*!content_left*/;
	text-align: left /*!text_left*/;
}

[data-css-preset] body {
	background-color: rgb(255, 255, 255) /*!body_bgcolor*/;
}

[data-css-preset] .container_width {
	width: 100% /*!content_left*/;
}

[data-css-preset] .content_padding {
	padding-top: 4rem /*!main_margin*/;
	padding-bottom: 4rem /*!main_margin*/;
	padding-left: 4rem /*!main_margin*/;
	padding-right: 4rem /*!main_margin*/;
}


[data-css-preset] text-limit {
	display: inline-block /*!text_width*/;
	max-width: 66rem/*!text_width*/;
}

@font-face{
    font-family:Icons;
    src:url(../fonts/IconFont-Regular-0.9.3.woff2);
    unicode-range:U+E000-E15C,U+F0000,U+FE0E
}
@font-face{
    font-family:Icons;
    src:url(../fonts/IconFont-Regular-0.9.3.woff2);
    font-weight:240;
    unicode-range:U+E000-E15C,U+F0000,U+FE0E
}
@font-face{
    font-family:Icons;
    src:url(../fonts/IconFont-Regular-0.9.3.woff2);
    unicode-range:U+E000-E15C,U+F0000,U+FE0E;
    font-weight:400
}
@font-face{
    font-family:Icons;
    src:url(../fonts/IconFont-Regular-0.9.3.woff2);
    unicode-range:U+E000-E15C,U+F0000,U+FE0E;
    font-weight:600
}
@font-face{
    font-family:Icons;
    src:url(../fonts/IconFont-Regular-0.9.3.woff2);
    unicode-range:U+E000-E15C,U+F0000,U+FE0E;
    font-weight:800
}
@font-face{
    font-family:Icons;
    src:url(../fonts/IconFont-Regular-0.9.3.woff2);
    unicode-range:U+E000-E15C,U+F0000,U+FE0E;
    font-style:italic
}
@font-face{
    font-family:Icons;
    src:url(../fonts/IconFont-Regular-0.9.3.woff2);
    unicode-range:U+E000-E15C,U+F0000,U+FE0E;
    font-weight:200;
    font-style:italic
}
@font-face{
    font-family:Icons;
    src:url(../fonts/IconFont-Regular-0.9.3.woff2);
    unicode-range:U+E000-E15C,U+F0000,U+FE0E;
    font-weight:400;
    font-style:italic
}
@font-face{
    font-family:Icons;
    src:url(../fonts/IconFont-Regular-0.9.3.woff2);
    unicode-range:U+E000-E15C,U+F0000,U+FE0E;
    font-weight:600;
    font-style:italic
}
@font-face{
    font-family:Icons;
    src:url(fonts/IconFont-Regular-0.9.3.woff2);
    unicode-range:U+E000-E15C,U+F0000,U+FE0E;
    font-weight:800;
    font-style:italic
}
body.iconfont-loading,body.iconfont-loading *{
    color:transparent!important
}
body{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none
}

/*! * Content */
.page{
    word-wrap:break-word
}
:focus{
    outline:0
}

s *{
    text-transform:inherit
}

:root{
    --following-width:-400px;
    --following-animation-duration:450ms
}
@keyframes following-open{
    0%{
        transform:translateX(0)
    }
    100%{
        transform:translateX(var(--following-width))
    }
}
@keyframes following-open-inverse{
    0%{
        transform:translateX(0)
    }
    100%{
        transform:translateX(calc(-1 * var(--following-width)))
    }
}
@keyframes following-close{
    0%{
        transform:translateX(var(--following-width))
    }
    100%{
        transform:translateX(0)
    }
}
@keyframes following-close-inverse{
    0%{
        transform:translateX(calc(-1 * var(--following-width)))
    }
    100%{
        transform:translateX(0)
    }
}

.loading_animation{
    display:none;
    vertical-align:middle;
    z-index:15;
    line-height:0;
    pointer-events:none;
    border-radius:100%
}
.loading_animation.hidden{
    display:none
}
.loading_animation.pulsing{
    opacity:0;
    display:inline-block;
    animation-delay:.1s;
    -webkit-animation-delay:.1s;
    -moz-animation-delay:.1s;
    animation-duration:12s;
    animation-iteration-count:infinite;
    animation:fade-pulse-in .5s ease-in-out;
    -moz-animation:fade-pulse-in .5s ease-in-out;
    -webkit-animation:fade-pulse-in .5s ease-in-out;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards
}
.loading_animation.pulsing.no-delay{
    animation-delay:0s;
    -webkit-animation-delay:0s;
    -moz-animation-delay:0s
}
.loading_animation div{
    border-radius:100%
}
.loading_animation div svg{
    max-width:100%;
    height:auto
}
.loading_animation div,.loading_animation div svg{
    width:20px;
    height:20px
}
.loading_animation.full-width svg{
    width:100%;
    height:auto
}
.loading_animation.full-width.big svg{
    width:100px;
    height:100px
}
.loading_animation div svg>*{
    fill:#ccc
}
.loading_animation div{
    -webkit-animation:spin-loading 12s ease-out;
    -webkit-animation-iteration-count:infinite;
    -moz-animation:spin-loading 12s ease-out;
    -moz-animation-iteration-count:infinite;
    animation:spin-loading 12s ease-out;
    animation-iteration-count:infinite
}
.loading_animation.hidden{
    display:none
}
[data-backdrop] .loading_animation{
    position:absolute;
    top:15px;
    left:15px;
    z-index:99
}
.loading_animation.position-absolute.middle{
    top:calc(50% - 10px);
    left:calc(50% - 10px)
}
.loading_animation.position-absolute.topleft{
    top:0;
    left:0
}
.loading_animation.position-absolute.middleright{
    top:calc(50% - 10px);
    right:1rem
}
.loading_animation.position-absolute.middleleft{
    top:calc(50% - 10px);
    left:1rem
}
.loading_animation.gray div svg>*{
    fill:#999
}
.loading_animation.gray-dark div svg>*{
    fill:#666
}
.loading_animation.gray-darker div svg>*{
    fill:#555
}
.loading_animation.gray-light div svg>*{
    fill:#ccc
}
.loading_animation.white div svg>*{
    fill:rgba(255,255,255,.85)
}
.loading_animation.blue div svg>*{
    fill:#698fff
}
.loading_animation.inline{
    display:inline-block;
    margin-bottom:.5ex
}
.loading_animation.inline.left{
    margin-right:.5ex
}
@-webkit-keyframes fade-pulse-in{
    0%{
        opacity:0
    }
    50%{
        opacity:.5
    }
    100%{
        opacity:1
    }
}
@-moz-keyframes fade-pulse-in{
    0%{
        opacity:0
    }
    50%{
        opacity:.5
    }
    100%{
        opacity:1
    }
}
@keyframes fade-pulse-in{
    0%{
        opacity:0
    }
    50%{
        opacity:.5
    }
    100%{
        opacity:1
    }
}
@-webkit-keyframes pulsate{
    0%{
        opacity:1
    }
    50%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@-moz-keyframes pulsate{
    0%{
        opacity:1
    }
    50%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes pulsate{
    0%{
        opacity:1
    }
    50%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@-webkit-keyframes spin-loading{
    0%{
        transform:rotate(0)
    }
    9%{
        transform:rotate(1050deg)
    }
    18%{
        transform:rotate(-1090deg)
    }
    20%{
        transform:rotate(-1080deg)
    }
    23%{
        transform:rotate(-1080deg)
    }
    28%{
        transform:rotate(-1095deg)
    }
    29%{
        transform:rotate(-1065deg)
    }
    34%{
        transform:rotate(-1080deg)
    }
    35%{
        transform:rotate(-1050deg)
    }
    40%{
        transform:rotate(-1065deg)
    }
    41%{
        transform:rotate(-1035deg)
    }
    44%{
        transform:rotate(-1035deg)
    }
    47%{
        transform:rotate(-2160deg)
    }
    50%{
        transform:rotate(-2160deg)
    }
    56%{
        transform:rotate(45deg)
    }
    60%{
        transform:rotate(45deg)
    }
    80%{
        transform:rotate(6120deg)
    }
    100%{
        transform:rotate(0)
    }
}
@keyframes spin-loading{
    0%{
        transform:rotate(0)
    }
    9%{
        transform:rotate(1050deg)
    }
    18%{
        transform:rotate(-1090deg)
    }
    20%{
        transform:rotate(-1080deg)
    }
    23%{
        transform:rotate(-1080deg)
    }
    28%{
        transform:rotate(-1095deg)
    }
    29%{
        transform:rotate(-1065deg)
    }
    34%{
        transform:rotate(-1080deg)
    }
    35%{
        transform:rotate(-1050deg)
    }
    40%{
        transform:rotate(-1065deg)
    }
    41%{
        transform:rotate(-1035deg)
    }
    44%{
        transform:rotate(-1035deg)
    }
    47%{
        transform:rotate(-2160deg)
    }
    50%{
        transform:rotate(-2160deg)
    }
    56%{
        transform:rotate(45deg)
    }
    60%{
        transform:rotate(45deg)
    }
    80%{
        transform:rotate(6120deg)
    }
    100%{
        transform:rotate(0)
    }
}
[grid-row]{
    align-items:flex-start;
    box-sizing:border-box;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
[grid-col]{
    box-sizing:border-box
}
[grid-row] [grid-col].empty:after{
    content:"\0000A0";
    cursor:text
}
body.mobile[data-adminview=content-editproject] [grid-row] [grid-col].empty:after{
    display:none
}
[grid-col=auto]{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1
}
[grid-col=x12]{
    width:100%
}
[grid-col=x11]{
    width:50%
}
[grid-col=x10]{
    width:33.33%
}
[grid-col=x9]{
    width:25%
}
[grid-col=x8]{
    width:20%
}
[grid-col=x7]{
    width:16.666666667%
}
[grid-col=x6]{
    width:14.285714286%
}
[grid-col=x5]{
    width:12.5%
}
[grid-col=x4]{
    width:11.111111111%
}
[grid-col=x3]{
    width:10%
}
[grid-col=x2]{
    width:9.090909091%
}
[grid-col=x1]{
    width:8.333333333%
}
[grid-col="1"]{
    width:8.33333%
}
[grid-col="2"]{
    width:16.66667%
}
[grid-col="3"]{
    width:25%
}
[grid-col="4"]{
    width:33.33333%
}
[grid-col="5"]{
    width:41.66667%
}
[grid-col="6"]{
    width:50%
}
[grid-col="7"]{
    width:58.33333%
}
[grid-col="8"]{
    width:66.66667%
}
[grid-col="9"]{
    width:75%
}
[grid-col="10"]{
    width:83.33333%
}
[grid-col="11"]{
    width:91.66667%
}
[grid-col="12"]{
    width:100%
}
body.mobile [grid-responsive] [grid-col]{
    width:100%;
    -webkit-box-flex:none;
    -webkit-flex:none;
    -ms-flex:none;
    flex:none
}

[grid-pad="0"]{
    padding:0
}
[grid-pad="0.25"]{
    padding:.125rem
}
[grid-pad="0.5"]{
    padding:.25rem
}
[grid-pad="0.75"]{
    padding:.375rem
}
[grid-pad="1"]{
    padding:.5rem
}
[grid-pad="1.25"]{
    padding:.625rem
}
[grid-pad="1.5"]{
    padding:.75rem
}
[grid-pad="1.75"]{
    padding:.875rem
}
[grid-pad="2"]{
    padding:1rem
}
[grid-pad="2.5"]{
    padding:1.25rem
}
[grid-pad="3"]{
    padding:1.5rem
}
[grid-pad="3.5"]{
    padding:1.75rem
}
[grid-pad="4"]{
    padding:2rem
}
[grid-pad="5"]{
    padding:2.5rem
}
[grid-pad="6"]{
    padding:3rem
}
[grid-pad="7"]{
    padding:3.5rem
}
[grid-pad="8"]{
    padding:4rem
}
[grid-pad="9"]{
    padding:4.5rem
}
[grid-pad="10"]{
    padding:5rem
}
[grid-gutter="0"]{
    margin:0
}
[grid-gutter="0.5"]{
    margin:-.25rem
}
[grid-gutter="1"]{
    margin:-.5rem
}
[grid-gutter="1.5"]{
    margin:-.75rem
}
[grid-gutter="2"]{
    margin:-1rem
}
[grid-gutter="2.5"]{
    margin:-1.25rem
}
[grid-gutter="3"]{
    margin:-1.5rem
}
[grid-gutter="3.5"]{
    margin:-1.75rem
}
[grid-gutter="4"]{
    margin:-2rem
}
[grid-gutter="5"]{
    margin:-2.5rem
}
[grid-gutter="6"]{
    margin:-3rem
}
[grid-gutter="7"]{
    margin:-3.5rem
}
[grid-gutter="8"]{
    margin:-4rem
}
[grid-gutter="10"]{
    margin:-5rem
}
[grid-gutter="12"]{
    margin:-6rem
}
[grid-gutter="14"]{
    margin:-7rem
}
[grid-gutter="16"]{
    margin:-8rem
}
[grid-gutter="18"]{
    margin:-9rem
}
[grid-gutter="20"]{
    margin:-10rem
}
small{
    max-width:100%;
    text-decoration:inherit
}
img:not([src]),img[src='']{
    outline:1px solid rgba(177,177,177,.4);
    outline-offset:-1px;
    content:url(data:image/gif;
    base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==)
}
img.image-zoom{
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in;
    cursor:zoom-in
}

select,select *{
    text-rendering:auto!important
}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
customhtml>*{
    position:relative;
    z-index:10
}
body,html{
    min-height:100vh;
    margin:0;
    padding:0
}
html{
    touch-action:manipulation;
    position:relative;
    background-color:#fff
}
.main_container{
    min-height:100vh;
    width:100%;
    overflow:hidden
}
.container{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    max-width:100%;
    width:100%;
    overflow:visible
}
.container{
    align-items:flex-start;
    -webkit-align-items:flex-start
}
.page{
    z-index:2
}
.page ul li>text-limit{
    display:block
}
.content,.content_container,.pinned{
    -webkit-flex:1 0 auto;
    -moz-flex:1 0 auto;
    -ms-flex:1 0 auto;
    flex:1 0 auto;
    max-width:100%
}
.content_container{
    width:100%
}
.content_container.full_height{
    min-height:100vh
}
.page_background{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.page_container{
    position:relative;
    overflow:visible;
    width:100%
}

body.mobile [split-responsive]{
    display:flex;
    flex-direction:column
}
body.mobile [split-responsive] .container{
    width:100%;
    order:2
}
body.mobile [split-responsive] .backdrop{
    position:relative;
    height:50vh;
    width:100%;
    order:1
}
body.mobile [split-responsive] [data-auxiliary].backdrop{
    position:absolute;
    height:50vh;
    width:100%;
    order:1
}
.page{
    position:relative;
    z-index:2
}
img[data-align=left]{
    float:left
}
img[data-align=right]{
    float:right
}
[data-rotation]{
    transform-origin:center center
}

.mobile.full_width .page_container:not([split-layout]) .container_width{
    width:100%
}

.pinned{
    position:relative;
    width:100%
}

.pinned .content_padding {
    position:relative;
    width:100%;
		padding-top: 0
}

div[data-container=set]:empty{
    margin-top:1px
}

.loading[data-loading]{
    display:none;
    position:fixed;
    bottom:8px;
    left:8px;
    z-index:100
}
